<!--Recipes-->
<div id="tabstrip-recipes"
     data-role="view"
     data-title="Recipes"
     data-model="app.recipes.viewModel">

    <ul data-role="listview"
        data-bind="source: recipesDataSource"
        data-template="recipe-template"></ul>
    <button onclick="goTop()">Go to Top</button>
    <script>
        function goTop() {
            $('#tabstrip-recipes').silentScroll();
        }
    </script>
</div>

<!--Recipe template-->
<script type="text/x-kendo-tmpl" id="recipe-template">
    <div>
        <span class="recipe-prepareTime"><span class="recipe-prepareTime-border">${PrepareTime}</span> min</span>
        <span class="recipe-name">${Name}</span><br />
        # if(Description != null){
           # <span class="recipe-description">${Description}</span> #
        } #
        <br/>
        <span class="recipe-category">${Category}</span>
        <a class="position-right button" href="views/recipe-detail.html?uid=${Id}" data-role="button">Details</a>
        <hr />
    </div>
</script>